<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokemon Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="row">
    <div class="col-lg-6">
      <h1>Pokemon Page</h1>
      <p> Pokemon Name: <%= data.name %> </p>
      <button type="button" name="button">No Bootstrap</button>
    </div>
    <div class="col-lg-6">
      <button type="button" name="button" class="btn btn-danger">Bootsrtap </button>

    </div>
  </div>
</div>
  </body>
</html>
